 
    <!-- Portfolio Grid Section -->
    <section id="eventvenues">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Event Venues</h2>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
              <table width="100%">
                <tr>
                  <td align="center"><h4>Wedding Ceremony</h4></td>
                  <td align="center"><h4>Reception</h4></td>
                </tr>
                <tr>
                  <td align="center">
                  IMMACULATE CONCEPTION PARISH <br/>
                  300 ANSLEY GROVE ROAD, <br/>
                  WOODBRIDGE, ON L4L 3W4 <br/>
                  ON THE 9TH OF MAY 2015 AT 3:00 P.M. <br/>
                  </td>
                  <td align="center">
                    BELLAGIO BOUTIQUE EVENT VENUE <br/>
                    8540 JANE ST. <br/>
                    VAUGHAN, ON L4K 5A9 <br/>
                    AT 6:00 P.M. <br/>
                  </td>
                </tr>
                <tr>
                  <td align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2879.7916591722374!2d-79.563365!3d43.79793600000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2562e26abe97%3A0x79be82238a004d18!2sImmaculate+Conception+Church!5e0!3m2!1sen!2sca!4v1414269590384" width="400" height="200" frameborder="0" style="border:0"></iframe></td>
                  <td align="center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2879.018532275402!2d-79.529335!3d43.813975!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2f0fd016efc1%3A0x2e5a6c3889ac4562!2sBellagio+Boutique+Event+Venue!5e0!3m2!1sen!2sca!4v1414267230764" width="400" height="200" frameborder="0" style="border:0"></iframe>
                  </td>
                </tr>
              </table>
            </div>
        </div>
    </section>