 
    <!-- Portfolio Grid Section -->
    <section class="alternate" id="eventvenues">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Event Venues</h2>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
               <div class="col-lg-10 col-lg-offset-2">
                  <table id="venuetable" class="table table-condensed" align="center">
                  <tr>
                    <td>
                      <p style="text-align:center;">
                        <strong>Wedding Ceremony (3:00pm)</strong><br/>
                        Immaculate Conception Parish <br/>
                        300 Ansley Grove Road, <br/>
                        Woodbridge, ON, L4L 3W4 <br/>
                        <a href="https://goo.gl/maps/mRL6I">
                          <img src="{{ "img/location.png" | prepend: site.baseurl }}" width="30px">
                        </a>
                      </p>
                    </td>
                    <td class="googlemap">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2879.7916591722374!2d-79.563365!3d43.79793600000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2562e26abe97%3A0x79be82238a004d18!2sImmaculate+Conception+Church!5e0!3m2!1sen!2sca!4v1414269590384" width="450" height="225" frameborder="0" style="border:0"></iframe>
                   </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p style="text-align:center;">
                        <strong>Reception (6:00pm)</strong><br/>
                        Bellagio Boutique Event Venue <br/>
                        8540 Jane St. <br/>
                        Vaughan, ON L4K 5A9 <br/>
                      <a href="https://goo.gl/maps/o9lvj">
                          <img src="{{ "img/location.png" | prepend: site.baseurl }}" width="30px">
                        </a>
                      </p>  
                    </td>
                    <td class="googlemap">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2879.018532275402!2d-79.529335!3d43.813975!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2f0fd016efc1%3A0x2e5a6c3889ac4562!2sBellagio+Boutique+Event+Venue!5e0!3m2!1sen!2sca!4v1414267230764" width="450" height="225" frameborder="0" style="border:0"></iframe>
                    </td>
                  </tr>
                </table>
               </div>
           </div>
        </div>
    </section>
