<!-- About Section -->
   <section class="alternate" id="hotels">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Hotels</h2>
               </div>
           </div>
           <div class="row">
              <div class="col-lg-10 col-lg-offset-2">
                <table id="venuetable" class="table table-condensed" align="center">
                  <tr>
                    <td>
                      <p style="text-align:center;">
                        <strong>Novotel Hotel Vaughan</strong><br/>
                        200 Bass Pro Mills Dr.<br/>
                        Vaughan, ON L4K 0B9 <br/>
                        <a href="https://goo.gl/maps/nTtss">
                          <img src="{{ "/img/location.png" | prepend: site.baseurl }}" width="30px">
                        </a>
                      </p>
                    </td>
                    <td class="googlemap">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2878.6653707172964!2d-79.538273!3d43.82130000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2f6b3da807b9%3A0xdbe22d9fce86790f!2sNovotel+Hotel+Vaughan!5e0!3m2!1sen!2sca!4v1419308851733" width="450" height="225" frameborder="0" style="border:0"></iframe>
                   </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p style="text-align:center;">
                        <strong>SpringHill Suites Toronto Vaughan</strong><br/>
                        612 Applewood Crescent <br/>
                        Vaughan, ON L4K 4B4 <br/>
                      <a href="https://goo.gl/maps/CGkT3">
                        <img src="{{ "/img/location.png" | prepend: site.baseurl }}" width="30px">
                      </a>
                      </p>  
                    </td>
                    <td class="googlemap">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2879.7641873655684!2d-79.537348!3d43.798505999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2fa275749d71%3A0x8f3162351d280d1c!2sSpringHill+Suites+Toronto+Vaughan!5e0!3m2!1sen!2sca!4v1419198380443" width="450" height="225" frameborder="0" style="border:0"></iframe>
                    </td>
                  </tr>
                </table>
              </div>
           </div>
       </div>
   </section>
