 <!-- About Section -->
 
<div id="rsvpSuccessAlert" class="alert alert-success" style="display:none;">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> Your RSVP has been recorded successfully.
</div>
<div id="rsvpUserNotFound" class="alert alert-danger" style="display:none;">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Oops!</strong> We couldn't find your name in our attendee list.
</div>
    <section class="alternate" id="rsvp">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>RSVP</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-10 col-lg-offset-2">
                  <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                  <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                  <form name="sentMessage" id="contactForm" action="javascript:get_family();" novalidate>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>First Name</label>
                              <input type="text" class="form-control" placeholder="First Name" id="firstname" required data-validation-required-message="Please enter your first name.">
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                              <label>Last Name</label>
                              <input type="text" class="form-control" placeholder="Last Name" id="lastname" required data-validation-required-message="Please enter your last name.">
                              <p class="help-block text-danger"></p>
                          </div>
                      </div>
                      <br>
                      <div id="success"></div>
                      <div class="row">
                          <div class="form-group col-xs-12">
                              <button type="submit" class="btn btn-success btn-lg">Look Up</button>
                          </div>
                      </div>
                  </form>
                  
                  <form name="rsvpSubmit" id="rsvpForm" novalidate hidden="true">
                      <div class="row control-group">
                        <div class="lookup_info"></div>
                      </div>
                      <br/>
                      <div id="success"></div>
                      <div class="row">
                          <div class="form-group col-xs-12">
                              <button type="submit" class="btn btn-success btn-lg">Submit</button>
                          </div>
                      </div>
                  </form>
                  
                  <div class="email">If you have any questions, please email <a href="mailto:kiranwedsjustin@gmail.com">kiranwedsjustin@gmail.com</a></div>
              </div>
            </div>
        </div>
    </section>